body,html{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer{
    height: 3em;
}
.progressChartsSection{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.progressChartDiv{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.progressChartDiv>.graph{
    width: 100%;
}
.progressBarSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progressBarSection > h1{
    font-size: 2rem;
}
#progressBar{
    width:50%
}